* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Nevis;
	src: url(/fonts/Nevis.ttf) format("truetype");
}


body {
	text-align: center;
	background-color: #999999;
	font-family: Nevis, Helvetica, Arial;
}

#header {
	position: fixed;
	text-align: center
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: left;
	height: 70px;
	background-color: #ff0000;
	-webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4); 
}

#header #logo {
	position: absolute;
	top: -8px;
	left: 20px;
	font-size: 64px;
	color: #ffffff;
	text-shadow: 2px 2px 3px black;
}

#header #shade {
	position: absolute;
	top: 5px;
	left: 215px;
}

#header #login_logout {
	text-shadow: 2px 2px 3px black;
	position: absolute;
	top: 21px;
	right: 30px;
	font-size: 25px;
	color: #ffffff;
}

#header #login_logout a {
	color: #ffffff;
	text-decoration: none;
}

#score {
	display: none;
}

#stats {
	display: none;
}

#content {
	position: relative;
	top: 80px;
	width: 100%;
}

#charts {
	position: relative;
	top: 10px;
}

#c_distance {
	display: none;
	position: relative;
	left: 0;
	width: 500px;
	border: 3px solid #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
}

#c_avgspeed {
	display: none;
	position: relative;
	float: right;
	top: -326px;
	width: 500px;
	border: 3px solid #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
}

#goal {
	display: none;
}

#new {
	position: absolute;
	top: 600px;
	border: 1px solid #ffffff;
	width: 550px;
	right: 20px;
}

#runs {
	position: absolute;
	border-left: 3px solid #ffffff;
	width: 550px;
	min-height: 400px;
	top: 20px;
	left: 20px;
}

.run {
	
}

.run_bar {
	height: 50px;
	display: block;
	background-color: #eeeeee;
	margin-bottom: 10px;
	margin-left: 5px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 	
}