* {
	margin: 0;
	padding: 0;
}




body {
	text-align: center;
	background-color: #999999;
}

#goal {
	display: none;
}

#header {
	position: fixed;
	text-align: center
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: left;
	height: 70px;
	background-color: #ff0000;
	-webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4); 
}

#header #logo {
	position: absolute;
	top: -8px;
	left: 20px;
	font-size: 64px;
	color: #ffffff;
	text-shadow: 2px 2px 3px black;
}

#header #shade {
	position: absolute;
	top: 5px;
	left: 215px;
}

#header #login_logout {
	text-shadow: 2px 2px 3px black;
	position: absolute;
	top: 21px;
	right: 30px;
	font-size: 25px;
	color: #ffffff;
}

#header #login_logout a {
	color: #ffffff;
	text-decoration: none;
}

#score {
	display: none;
}

#stats {
	display: none;
}

#content {
	position: relative;
	top: 80px;
	width: 100%;
}

#charts {
	position: relative;
	top: 10px;
}

#new {
	display: none;
	position: absolute;
	top: 800px;
	border: 1px solid #eeeeee;
	width: 550px;
	right: 20px;
}

#runs {
	position: absolute;
	border-left: 3px dotted #333333;
	min-height: 400px;
	top: 70px;
	left: 75px;
	padding-left: 5px;
}

#runs_title {
	position: absolute;
	text-align: left;
	width: 240px;
	top: -50px;
	left: -55px;
	font-size: 18px;
	padding-left: 3px;
	background-color: rgb(255, 255, 0);
	line-height: 30px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1); 
}

#distance_legend_dot {
	position: absolute;
	top: -43px;
	left: 220px;
	display: block;
	background-color: rgba(24,98,209,1);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 35px;
	height: 15px;
	color: rgb(24,98,209);
	border: 2px #333333 solid;
}

#avgspeed_legend_dot {
	position: absolute;
	top: -43px;
	left: 350px;
	display: block;
	background-color: rgba(70,174,31,1);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 35px;
	height: 15px;
	color: rgb(70,174,31);
	border: 2px #333333 solid;
}

#distance_legend_text {
	position: absolute;
	top: -42px;
	left: 270px;
	width: 200px;
	background-color: #999;
	text-align: left;
}

#avgspeed_legend_text {
	position: absolute;
	top: -42px;
	left: 400px;
	width: 200px;
	background-color: #999;
	text-align: left;
}

.run_bar_distance {
	height: 40px;
	display: block;
	background-color: rgba(24,98,209,1);
	margin-top: 12px;
	margin-left: 5px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 	
	border: 2px #333333 solid;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px; 
	font-size: 15px;
	color: white;
	line-height: 40px;
	text-align: right;
	padding-right: 10px;
}

.run_bar_avgspeed {
	height: 40px;
	display: block;
	background-color: rgba(70,174,31,1);
	margin-top: -2px;
	margin-bottom: 12px;
	margin-left: 5px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); 	
	border: 2px #333333 solid;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px; 
	font-size: 15px;
	color: white;
	line-height: 40px;
	text-align: right;
	padding-right: 10px;
}

.run_bar_date {
	position: relative;
	float: left;
	clear: left;
	left: -60px;
	top: -60px;
}

.run_bar_details {
	position: relative;
	float: right;
	clear: both;
	top: -90px;
	left: 300px;
	text-align: right;
	font-size: 14px;
	padding-right: 5px;
	border-right: 2px solid #333;
	width: 250px;
}

.run_bar_score {
	position: relative;
	float: right
	clear: both;
	top: -88px;
	left: 830px;
	font-size: 48px;
	
}