    <canvas id="chart_distance"></canvas>

	<script type="text/javascript">
		
		onload = chart_distance();
	
 		function chart_distance() {
        
		  <!-- first chart -->
		  var g = new Bluff.Bar('chart_distance', '800x350');
          g.theme_greyscale();
          g.title = 'Distance';
		  g.title_font_size = 10;
		  g.marker_font_size = 10;
		  g.no_data_message;
		  <!-- g.sort = true; -->
		  g.hide_legend = true;	
		  
		  	<% @runs = current_user.runs.all(:order => 'created_at DESC')%>
		  	
		  	<% counter = Array.new %>
		  	<% counter = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19] %>	 
	  	  
		  	<% distance_values = Array.new %>
		  	  

		  		
		  		<% counter.each do |pos| %>
		  		
		  		<% unless @runs[pos] == nil %>
		  		
		  			<% run = @runs[pos] %>		  		 		
		  			<% distance_values << run.distance.to_s %>
		  			
		  		<% else %>
		  		
		  			<% distance_values << "0" %>
		  		
		  		<% end %>
		  	
		  		<% end %>
		  		
	  	  		<% distance_values_string = distance_values.collect{|a| a + ", "}.to_s.chop %>
	
          		g.data("", [<%=distance_values_string%>]);

				<% counter = 0 %>
       
       	 		g.labels = {
       	 				<% for run in @runs %>
         				<%= counter %>: '<%=run.created_at.strftime("%d/%m")%>',
         				<% counter = counter + 1%>
         				<% end %>
         				};
          		
	
		  		g.font = "Helvetica";  
     
		  g.minimum_value = 0;
		  g.maximum_value = <%= current_user.runs.maximum('distance') + 2 %>;
		  g.y_axis_increment = 2;
          g.draw();
        };

</script>
</div>