    <canvas id="chart_avgspeed"></canvas>

	<script type="text/javascript">
		
		onload = chart_avgspeed();
	
 		function chart_avgspeed() {
        
		  <!-- first chart -->
		  var g = new Bluff.Line('chart_avgspeed', '450x300');
          g.set_theme({
          colors: ['blue', 'red'],
          marker_color: 'black',
          font_color: 'black',
          background_colors: ['white', '#999999']
        	});
          g.title = 'Average Speed';
		  g.title_font_size = 20;
		  g.no_data_message;
		  g.sort = true;
		  g.hide_legend = true;
		  
	  	  
		  	<% avgspeed_values = Array.new %>
		  	  
		  	  	<% counter = -1 %>
		  	  	
		  	  	<% @runs = current_user.runs.all(:order => 'created_at DESC')%>
		  		<% for run in @runs %>
		  			<% avgspeed_values << run.avgspeed.to_s %>
		  		<% end %>
		  	
		  		<% avgspeed_values_string = avgspeed_values.collect{|a| a + ", "}.to_s.chop %>
		  			  	
          		g.data("", [<%=avgspeed_values_string%>]);
       
       	 		g.labels = {
              			<% for run in @runs %>
          		 		<% counter = counter + 1%>
          				<%= counter %>: '<%=run.created_at.strftime("%d/%m/%y")%>',
         				<% end %>
         				};
          
	
		  		g.font = "Helvetica";  
     
		       g.minimum_value = 0;
		  <!-- g.hide_line_markers; -->
          <!-- g.hide_dots = true; -->
          g.draw();
        };

</script>
</div>