<span id="goal_distance">
	<%= in_place_editor_field :goal, :distance, {}, :saving_text => '' %> <span id="goal_distance_unit">km</span>			
</span>
	
<span id="goal_hours">
	<%= in_place_editor_field :goal, :hours,  {}, :saving_text => '' %> <span id="goal_hours_unit">h</span>
</span>

<span id="goal_minutes">
	<%= in_place_editor_field :goal, :minutes,  {}, :saving_text => '' %> <span id="goal_minutes_unit">'</span>
</span>

<span id="goal_seconds">
	<%= in_place_editor_field :goal, :seconds,  {}, :saving_text => '' %> <span id="goal_seconds_unit">''</span>
</span>


